$mobile-width: 1040px;
$xs: 450px;

.card {
    grid-row: 1 / -1;
    grid-column: 2;
    z-index: 10;
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    // position: fixed;

    img {
        width: auto;
        height: 100%;

    }

    @media screen and (max-width: 1120px) {
        align-items: center;
        margin-right: 0;
        margin-top: 8dvh;

        img {
            height: 35dvh;
            width: auto;
        }
    }

    @media screen and (max-height: 800px) {
        margin-top: 0;
    }
}